@import "styles/include";

.title {
  @include font-barlow-condensed;
  font-weight: 500;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
  margin-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}